%div{"data-ng-controller" => "StoreController"}
	-# Nav bar
	%nav.navbar.navbar-default
		%button.btn.btn-primary{data: {ng_click: "showNewProductForm = true"}} New gem
		%button.btn.btn-default{data: {ng_click: "showNewProductForm = false", ng_show: "showNewProductForm"}} Cancel
	
	-# Header
	%header
		%h1.text-center Flatlander Crafted Gems
		%h2.text-center – an Angular store –
	.container-fluid
		%div.row{data: {ng_controller: "ProductCtrl", ng_show: 'showNewProductForm', ng_animate: 'animate'}, id: 'new-product-form'}
			%div.col-md-4
				%form{name: 'newProductForm', novalidate: true, data: {ng_submit: 'newProductForm.$valid && create()'}}
					%div.form-group{data: {ng_class: "{'has-error': newProductForm.name.$dirty && newProductForm.name.$invalid}"}}
						= label_tag 'name', 'Name', class: 'control-label'
						= text_field_tag 'name', nil, class: 'form-control', data: {ng_model: 'newProduct.name'}, required: true
					
					%div.form-group{data: {ng_class: "{'has-error': newProductForm.description.$dirty && newProductForm.description.$invalid}"}}
						= label_tag 'description', 'Description', class: 'control-label'
						= text_field_tag 'description', nil, class: 'form-control', data: {ng_model: 'newProduct.description'}, required: true
					
					%div.form-group{data: {ng_class: "{'has-error': newProductForm.shine.$dirty && newProductForm.shine.$invalid}"}}
						= label_tag 'shine', 'Shine', class: 'control-label'
						= number_field_tag 'shine', nil, class: 'form-control', data: {ng_model: 'newProduct.shine'}, required: true
					
					%div.form-group{data: {ng_class: "{'has-error': newProductForm.price.$dirty && newProductForm.price.$invalid}"}}
						= label_tag 'price', 'Price', class: 'control-label'
						= number_field_tag 'price', nil, class: 'form-control', data: {ng_model: 'newProduct.price'}, required: true
					
					%div.form-group{data: {ng_class: "{'has-error': newProductForm.rarity.$dirty && newProductForm.rarity.$invalid}"}}
						= label_tag 'rarity', 'Rarity', class: 'control-label'
						= number_field_tag 'rarity', nil, class: 'form-control', data: {ng_model: 'newProduct.rarity'}, required: true
					
					%div.form-group{data: {ng_class: "{'has-error': newProductForm.color.$dirty && newProductForm.color.$invalid}"}}
						= label_tag 'color', 'Color', class: 'control-label'
						= color_field_tag 'color', nil, class: 'form-control', data: {ng_model: 'newProduct.color'}, required: true
					
					%div.form-group{data: {ng_class: "{'has-error': newProductForm.faces.$dirty && newProductForm.faces.$invalid}"}}
						= label_tag 'faces', 'Faces', class: 'control-label'
						= number_field_tag 'faces', nil, class: 'form-control', data: {ng_model: 'newProduct.faces'}, required: true
					
					%button{type: 'submit', class: 'btn btn-primary', data: {ng_disabled: "newProductForm.$invalid"}}
						Create product
						
			%div.col-md-8
				%h1
					New Gem
				%p
					Name: {{newProduct.name}}
				%p
					Description: {{newProduct.description}}
				%p
					Shine: {{newProduct.shine}}
				%p
					Price: {{newProduct.price | currency}}
				%p
					Rarity: {{newProduct.rarity}}
				%p
					Color: {{newProduct.color}}
				%p
					Faces: {{newProduct.faces}}

	-# List products
	.container-fluid
		.list-group.row
			.list-group-item.col-md-4.center-block{"ng-repeat" => "product in products"}
				%product-title
				%product-gallery
				%product-tabs